{% extends 'partials/base.html.twig' %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}



{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

{% block body %}
{# <section id="body-wrapper" class=""> #}

        <div class="packerygridnogutter mx-auto ml-20 min-h-screen">

            {% for child in collection %}
            
            <div class="m-0 w-full">

            {% set sticky_position = child.header.stickyposition %}
            {% set image = child.media.all|first %}
            
            

            {% if sticky_position == "left" %}

                <div class="w-1/2 border-r border-black float-left sticky top-0 bg-white" >
                    {% include 'partials/sticky-items-2.html.twig' %}
                </div>
        


            {% elseif sticky_position == "right" %}

                    <div class="w-1/2 max-h-screen float-right bg-white">
                        {% include 'partials/sticky-items.html.twig' %}
                    </div>

            </div>


            {% else %}



            {% endif %}

            
            {% endfor %}
            
            

            
            

        </div>

        


{# </section> #}

<script src="./user/themes/josh/node_modules/draggabilly/dist/draggabilly.pkgd.min.js"></script>
<script src="./user/themes/josh/node_modules/packery/dist/packery.pkgd.min.js"></script>
<script src="./user/themes/josh/javascript/packery_01.js"></script>



{% endblock %}