<nav id="navigation" class="w-vh100 h-20 border-b text-center fixed border-black z-30 top-0 left-0 bold text-black text-2xl transform -rotate-90 origin-top-left translate-y-vh100 bg-white">
    <ul class="font-light float-left w-3/4 pt-7">
        {% for page in pages.children.visible %}
        <li class="no-underline inline-block pl-10">
            <a class="w-full h-full" href="{{ page.url }}">{{ page.menu }}</a>
        </li>
        {% endfor %}
    </ul>
    <svg class="inline-block float-right absolute transform -translate-x-20 pt-7">
	<path class="fixed top-0 left-0" clip-path="url(#SVGID_2_)" fill="#424242" d="M134.251,20.043V0h-5.054v1.836h3.023v16.371h-3.023v1.836H134.251z
		 M102.546,10.108h-4.86c0.022-0.734,0.195-1.253,0.583-1.749c0.39-0.52,1.06-0.864,1.88-0.864c0.777,0,1.338,0.259,1.705,0.647
		C102.285,8.618,102.523,9.266,102.546,10.108 M105.244,11.318c0.043-1.404-0.15-2.68-0.971-3.91
		c-0.929-1.403-2.44-2.073-4.104-2.073c-1.534,0-2.743,0.562-3.585,1.425c-1.08,1.103-1.62,2.7-1.62,4.493
		c0,1.836,0.605,3.412,1.729,4.492c0.885,0.842,2.008,1.382,3.541,1.382c1.426,0,2.83-0.453,3.779-1.576
		c0.432-0.519,0.887-1.403,0.951-2.074h-2.592c-0.108,0.411-0.303,0.714-0.54,0.951c-0.39,0.389-0.864,0.54-1.642,0.54
		c-0.734,0-1.274-0.324-1.664-0.691c-0.539-0.519-0.842-1.339-0.819-2.203h7.516C105.224,11.836,105.244,11.318,105.244,11.318
		 M88.83,12.873h-2.655c-0.022,0.41-0.151,0.755-0.324,1.036c-0.323,0.497-0.907,0.843-1.728,0.843
		c-0.734,0-1.274-0.324-1.641-0.713c-0.648-0.713-0.757-1.771-0.757-2.829c0-1.059,0.108-2.139,0.757-2.851
		c0.366-0.39,0.906-0.691,1.641-0.691c0.82,0,1.404,0.345,1.728,0.842c0.173,0.281,0.302,0.626,0.324,1.037h2.655
		c-0.043-0.886-0.344-1.771-0.863-2.44c-0.777-0.973-2.139-1.771-3.844-1.771c-1.706,0-3.133,0.821-3.909,1.771
		c-0.843,1.058-1.231,2.462-1.231,4.104c0,1.641,0.389,3.045,1.231,4.104c0.776,0.949,2.203,1.771,3.909,1.771
		c1.705,0,3.066-0.799,3.844-1.771C88.486,14.644,88.787,13.758,88.83,12.873 M69.285,12.376c0,1.663-1.188,2.57-2.873,2.57
		c-0.842,0-1.598-0.54-1.598-1.404c0-0.907,0.799-1.404,1.619-1.469l2.852-0.216V12.376z M72.892,16.717V14.73
		c0,0-0.173,0.043-0.345,0.043c-0.454,0-0.627-0.194-0.627-0.714V9.892c0-0.756-0.043-1.555-0.324-2.268
		c-0.648-1.684-2.289-2.289-4.211-2.289c-2.506,0-4.514,1.123-4.665,3.65h2.613c0.065-1.037,0.799-1.599,2.052-1.599
		c1.533,0,1.9,0.712,1.9,1.771v0.69l-3.304,0.237c-2.138,0.152-3.801,1.383-3.801,3.521c0,1.836,1.382,3.52,4.06,3.52
		c1.598,0,2.894-0.777,3.413-1.684c0.086,0.842,0.734,1.575,1.9,1.575C72.201,17.019,72.439,16.911,72.892,16.717 M53.26,11.253
		c0,0.972-0.151,1.987-0.713,2.721c-0.389,0.497-0.972,0.887-1.814,0.887c-2.117,0-2.549-1.987-2.549-3.607s0.432-3.629,2.549-3.629
		c0.842,0,1.425,0.389,1.814,0.886C53.109,9.244,53.26,10.281,53.26,11.253 M56.003,11.21c0-2.117-0.67-3.802-2.009-4.903
		c-0.691-0.562-1.598-0.949-2.721-0.949c-1.231,0-2.484,0.452-3.153,1.489l-0.173-1.23h-2.333v15.527h2.7v-5.117
		c0.518,0.626,1.598,1.101,2.937,1.101c1.145,0,2.052-0.345,2.743-0.907C55.333,15.119,56.003,13.413,56.003,11.21 M38.573,13.369
		c0-1.771-1.295-2.895-3.066-3.175c-1.102-0.172-1.383-0.194-2.398-0.323c-0.604-0.087-1.296-0.324-1.296-1.124
		c0-0.583,0.389-0.993,0.864-1.188c0.411-0.173,0.778-0.173,1.167-0.173c0.561,0,1.144,0.194,1.468,0.519
		c0.259,0.28,0.454,0.626,0.454,1.058h2.57c0-0.82-0.389-1.663-0.994-2.311c-0.82-0.886-2.181-1.317-3.52-1.317
		c-1.404,0-2.592,0.41-3.412,1.123c-0.67,0.583-1.145,1.382-1.145,2.527c0,1.425,1.037,2.678,2.57,3.002
		c0.994,0.216,2.117,0.28,3.11,0.432c0.691,0.108,1.123,0.54,1.123,1.188c0,1.23-1.382,1.425-2.289,1.425
		c-0.778,0-1.274-0.151-1.706-0.496c-0.346-0.281-0.605-0.821-0.605-1.318h-2.527c0,1.059,0.54,1.987,1.188,2.613
		c0.929,0.886,2.203,1.296,3.628,1.296c1.534,0,2.937-0.388,3.845-1.296C38.185,15.248,38.573,14.449,38.573,13.369 M5.054,20.043
		v-1.836H2.03V1.836h3.024V0H0v20.043H5.054z"/>
</svg>

    {% include 'partials/langswitcher.html.twig' %}
</nav>